/*simplified css with root variables*/
:root {
    /* this background color has a better contrast ratio against #fff text per WCAG*/
    --background-color: #1d76a9;
    --font-color: #fff;
    --button-hover-color: #729d00;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Archivo Narrow', sans-serif;
}

img {
    display: flex;
    flex-direction: column;
    border-radius: 30px;

}

button {
    padding: 1rem 3rem;
    margin: 1rem;
    font-size: 1.25rem;
    border: none;
    color: #000;
    background: #FFF;
    cursor: pointer;
    border-radius: 50px;
}

button:hover {
    position: relative;
    bottom: 1px;
    left: 1px;
    background-color: var(--button-hover-color);
    color: var(--font-color);
}

footer {
    margin-top: auto;
    height: 10vh;
}

.logo {
    color: #3e8ed0;
    font-size: 1.5 rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2 rem;
}

.hero {
    background: var(--background-color);
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90vh;
    padding: 2.25rem calc((100vw - 1300px) /2);
}

.column-left {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    color: var(--font-color);
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 5rem;
}

.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}